* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.wrapper {
    background: linear-gradient(87deg,
            #183B4E 0%,
            #393E46 100%);
    min-height: 100vh;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

}

.left {
    margin-left: 120px;
}

.left ul {
    list-style: none;
    display: flex;
    gap: 20px;

}



.left li {
    font-weight: bold;
    cursor: pointer;
    color: rgb(131, 124, 158);
}

.left li:hover {
    color: rgb(90, 167, 167)
}

.right {
    margin-right: 150px;
}

.right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;

}

.right li {
    cursor: pointer;
    font-weight: bold;
    color: rgb(131, 124, 158);
}

.right li:hover {
    color: rgb(90, 167, 167)
}

.home-container {
    display: grid;
    place-items: center;
    margin-top: 60px;

}


.image-container img {
    width: 190px;
    height: 350px;
}

.description-container {
    display: grid;
    place-items: center;
}

.description-container h1 {
    font-size: 50px;
    color: rgb(131, 124, 158);

}

.name {
    color: #086761;
    font-weight: bold;
}

.description-container h3 {
    color: rgb(131, 124, 158);
    font-size: 30px;
}

.description-container p {
    margin-top: 12px;
    text-align: justify;
    width: 750px;
    font-size: 20px;
}

.message-button {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(90, 167, 167)
}

.message-button:hover {
    color: rgb(135, 132, 170)
}

.about-container {
    margin-top: 60px;
}

.heading-line {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
    color: rgba(250, 235, 215, 0.288);
}

.line {
    height: 1px;
    background-color:rgb(135, 132, 170);
    width: 500px;
}

.about-basics{
    display: flex;
    justify-content: space-between;
    align-items:flex-start

}
.about-description{
    width: 950px;
    text-align: justify;
}
.about-description p{
    margin-top: 10px;
    text-align: justify;
    width: 850px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(135, 132, 170);
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 10px 40px;                 /* row-gap & column-gap */
  list-style: none;
  padding: 20;
  margin:  20px;
  max-width: 400px;   
           /* optional: control width */
}

.skills-list li {
  font-size: 1rem;
  color:rgb(135, 132, 170);
}
.skills-list li::before {
  content: "➜"; /* or use →, ›, ⇒, etc. */
  margin-right: 8px;
  color: #007bff; /* optional: arrow color */
  font-weight: bold;
}
.image-box img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    margin-right: 80px;
}



@media (min-width: 481px) and (max-width: 767px) {


    .left ul {

        display: none;
    }

    .right ul {
        margin-right: 150px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .left {
        margin: 0px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}